/*
 * Copyright (c) 2017 Linaro Limited
 * Copyright (c) 2019 Centaur Analytics, Inc
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f4/stm32f405Xg.dtsi>
#include <st/f4/stm32f405rgtx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/dma/stm32_dma.h>

/ {
	model = "TBOT board";
	compatible = "st,stm32f405";

	chosen {
		zephyr,console = &uart5;
		// zephyr,shell-uart = &usart2;
		zephyr,sram = &sram0;
		zephyr,ccm = &ccm0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		led_1: led_1 {
			gpios = <&gpioc 1 GPIO_ACTIVE_LOW>;
			label = "LED1";
		};
		led_2: led_2 {
			gpios = <&gpioc 2 GPIO_ACTIVE_LOW>;
			label = "LED2";
		};
		led_3: led_3 {
			gpios = <&gpioc 3 GPIO_ACTIVE_LOW>;
			label = "LED3";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";

		user_button: button {
			label = "Key";
			gpios = <&gpioa 0 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	aliases {
		led1 = &led_1;
		led2 = &led_2;
		led3 = &led_3;
		sw0 = &user_button;
		watchdog0 = &iwdg;
	};
};

&clk_lsi {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(25)>;
	status = "okay";
};

&pll {
	div-m = <25>;
	mul-n = <336>;
	div-p = <2>;
	div-q = <4>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(168)>; /* highest value to get a precise USB clock */
	ahb-prescaler = <1>;
	apb1-prescaler = <4>;
	apb2-prescaler = <2>;
};

&dma1 {
	status = "okay";
};

//&usart2 {
//	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
//	pinctrl-names = "default";
//	current-speed = <115200>;
////	dmas = <&dma1 6 4 (STM32_DMA_PRIORITY_MEDIUM | STM32_DMA_PERIPH_TX)  0x03>,
////	       <&dma1 5 4 (STM32_DMA_PRIORITY_MEDIUM | STM32_DMA_PERIPH_RX)  0x03>;
////	dma-names = "tx", "rx";
//	status = "okay";
//};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
	dmas = <&dma1 5 4 (STM32_DMA_PRIORITY_MEDIUM | STM32_DMA_PERIPH_RX) 0x03>,
		   <&dma1 6 4 (STM32_DMA_PRIORITY_MEDIUM | STM32_DMA_PERIPH_TX) 0x03>;
	dma-names = "rx", "tx";

	async_uart2: zdrv_async_usart {
		compatible = "zdriver,async-uart";
		status = "okay";
	};
};

// dma-mask rx = 01 0 00 00 1 0 0 10 0000 00  0x10480
// reference: https://docs.zephyrproject.org/3.6.0/build/dts/api/bindings/dma/st%2Cstm32-dma-v1.html#dtbinding-st-stm32-dma-v1
&uart4 {
	pinctrl-0 = <&uart4_tx_pa0 &uart4_rx_pa1>;
	pinctrl-names = "default";
	current-speed = <100000>;
	dmas = <&dma1 2 4 (STM32_DMA_PRIORITY_MEDIUM | STM32_DMA_PERIPH_RX)  0x03>;
	dma-names = "rx";
	status = "okay";
};

&uart5 {
	pinctrl-0 = <&uart5_tx_pc12 &uart5_rx_pd2>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&rtc {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x10000000>,
			 <&rcc STM32_SRC_LSI RTC_SEL(2)>;
	status = "okay";
};

&rng {
	status = "okay";
};

&iwdg {
	status = "okay";
};

zephyr_udc0: &usbotg_fs {
	pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";
};
